@import url("reset.css");

/* ---------- */

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #637381;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #333;
}

/*-------------Main--------------------*/

.main__wrapper {
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 230px 230px;
  grid-auto-rows: 1fr;
  gap: 30px;
}
.item-main {
  position: relative;
  overflow: hidden;
}

.item-main:first-child {
  grid-row: span 2;
}

.item-main__image-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-main__image-link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.8s;
}

.item-main__body {
  padding: 40px 10px 10px 40px;
  position: relative;
}

.item-main__title {
  font-weight: 600;
  line-height: 1.5;
  display: block;

  transition: all 0.3s;
}
.item-main__text {
  display: block;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: #212b36;
  max-width: 362px;
  transition: all 0.3s;
}

.item-main__title:not(:last-child) {
  margin-bottom: 12px;
}

/*-----------------------------------------------*/
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__copyright {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #333;
}

/*Media*/

@media (max-width: 1080px) {
  .item-main__body {
    max-width: 300px;
  }

  .item-main__text {
    font-size: 22px;
  }

  .item-main__title:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media (max-width: 991.98px) {
  .main__wrapper {
    padding: 40px 0;
  }
  .main__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(230px, 1fr);
  }

  .item-main:first-child {
    grid-row: span 1;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 479.98px) {
  .main__wrapper {
    padding: 20px 0;
    gap: 20px;
  }
  .item-main__text {
    font-size: 16px;
  }
  .item-main__body {
    max-width: 200px;
  }
}

@media (any-hover: hover) {
  .item-main:hover .item-main__image-link img {
    transform: scale(1.1);
  }
  .item-main__title:hover,
  .item-main__text:hover {
    color: #3056d3;
  }
}
