@import url("reset.css");

/* ---------- */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #a35252;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__title {
  font-size: 50px;
  text-align: center;
}

.page {
  padding: 20px;
}
.page__block {
  margin-bottom: 50px;
}

.link {
  font-size: 24px;
  color: #9acd32;
  transition: all 0.8s;
}
.link:hover {
  color: #800080;
}

.block {
  width: 150px;
  height: 150px;
}
.block__item {
  width: 150px;
  height: 150px;
  background-color: #1b68d3;
  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
  transition-delay: 0.3s;
}

.block:hover .block__item {
  width: 200px;
  height: 200px;
  transform: translate(40%, 10%);
  background-color: #77608d;
  visibility: hidden;
  opacity: 0;
}

.block-animation {
}
.block-animation__item {
  width: 150px;
  height: 150px;
  background-color: rgb(0, 255, 68);
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.block-animation__item:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform: translate(0px, 0px);
  }
  30% {
    transform: rotate(90deg);
    background-color: #800080;
  }
  100% {
    transform: rotate(220deg);
    transform: translate(300px, 0px);
  }
}

.car {
  position: relative;
  padding-top: 30px;
  padding-bottom: 100px;
  animation: car 5s infinite;
}

@keyframes car {
  0% {
    transform: translate(-100%, 0px);
  }
  30% {
    transform: translate(0%, 0px);
  }
  50% {
    transform: translate(0%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(1000px, 0px);
    opacity: 0;
  }
}

.car__roof {
  width: 280px;
  height: 70px;
  border-radius: 50px 50px 0 0;
  background-color: rgb(237, 234, 8);
  position: relative;
  margin: 0 auto;
}
.car__window {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  background-color: lightcyan;
  right: 130px;
  top: 0;
  position: absolute;
}

.car__window_front {
  border-radius: 5px 50px 5px 5px;

  right: 0;
  top: 0;
}

.car__window_back {
  width: 40px;
  height: 70px;
  border-radius: 50px 5px 5px 5px;
  left: 0;
  top: 0;
}
.car__body {
  width: 450px;
  height: 130px;
  background-color: rgb(237, 234, 8);
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
}

.car__door {
  position: absolute;
  top: 10px;
  right: 85px;
  width: 80px;
  height: 80px;
  background-color: rgb(237, 234, 8);
  border: 3px #000 solid;
  border-radius: 10px;
}

.car__door::before {
  content: "";
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #000;
  border-radius: 10px 0 0 10px;
}

.car__door_2 {
  top: 10px;
  right: 215px;
}

.car__wheel {
  width: 100px;
  height: 100px;
  background-color: silver;
  border: 15px solid black;
  border-radius: 50% 48%;
  position: absolute;
  bottom: -50px;
  outline: 5px dashed rgb(17, 145, 225);
  animation: car-wheels 5s linear infinite;
}

@keyframes car-wheels {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.car__wheel_front {
  right: 0;
}

.car__headlights {
  width: 35px;
  height: 20px;
  background-color: red;
  border: 3px #000 solid;
  border-radius: 5px;
  top: 30px;
  position: absolute;
}

.car__headlights_right {
  width: 35px;
  height: 20px;
  background-color: #cceb03;
  border: 3px #000 solid;
  border-radius: 5px;
  bottom: 20px;
  right: 0;
}
