@use "sass:math";

@import "_reset.scss";
@import "_common.scss";

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1908px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*---------------Header--------------------*/
.header {
  padding-top: 30px;
  padding-bottom: 30px;

  // .header__container
  @media (max-width: 767.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__container {
  }

  // .header__title

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #333;
    line-height: 1.5;
  }
}

/*---------------Brands--------------------*/

.page {
  // .page__top-block

  &__top-block {
  }
}
.top-block {
  padding: 50px 0 15px 0;
  @media (max-width: 767.98px) {
    padding: 20px 0 15px 0;
  }
  // .top-block__container

  &__container {
  }

  // .top-block__wrapper

  &__wrapper {
    border: 2px solid #c4c4c4;
    padding: 28px 11px;
    position: relative;
    @media (max-width: 767.98px) {
      padding: 28px 8px 14px 8px;
    }
  }

  // .top-block__title

  &__title {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 24px;
    padding: 0 80px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    white-space: nowrap;
    @media (max-width: 991.98px) {
      padding: 0 40px;
    }
    @media (max-width: 767.98px) {
      padding: 0 10px;
    }
  }

  // .top-block__list

  &__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 35px;

    @media (max-width: 991.98px) {
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      gap: 20px;
    }

    @media (max-width: 479.98px) {
      grid-template-columns: 1fr;
    }
  }

  // .top-block__item

  &__item {
  }

  // .top-block__img-link

  &__img-link {
    position: relative;
    display: block;
    transition: all 0.3s ease;
    padding-bottom: 60%;
    @media (max-width: 991.98px) {
      padding-bottom: 30%;
    }
    @media (max-width: 479.98px) {
      border: 2px solid #9c9f9f;
      padding-bottom: 15%;
    }
    @media (any-hover: hover) {
      &:hover {
        background: #f0f2f2;
      }
    }
  }
  // .top-block__image

  &__image {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}
.active {
  background: #f0f2f2;
}

/*---------------Look--------------------*/

.look {
  padding: 15px 0 15px 0;

  // .look__container

  &__container {
  }

  // .look__body

  &__body {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(434px, 1fr);
    gap: 30px;
    @media (max-width: 1360px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 767.67px) {
      grid-auto-rows: 1fr;
      gap: 15px;
    }
  }

  // .look__card

  &__card {
  }
}
.card-look {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &:nth-child(3n-1) {
    grid-row: span 2;
    justify-content: flex-start;
    align-items: flex-end;
    @media (max-width: 1360px) {
      grid-row: span 1;
    }
    .card-look__content {
      padding: 10px 10px 103px 86px;
      max-width: 280px;
      @media (max-width: 1750px) {
        padding: 10px 10px 103px 25px;
      }
      @media (max-width: 767.67px) {
        padding: 10px 10px 50px 10px;
      }
    }
  }

  &:nth-child(3n) {
    justify-content: flex-start;
    .card-look__content {
      padding: 10px 10px 50px 94px;
      max-width: 460px;
      @media (max-width: 1750px) {
        padding: 10px 10px 50px 25px;
      }
      @media (max-width: 767.67px) {
        padding: 10px 10px 50px 10px;
      }
    }
  }

  // .card-look__link-image

  &__link-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: right;
    transition: all 0.6s ease;
    @media (max-width: 1750px) {
      object-position: 70% 50%;
    }
    @media (max-width: 1360px) {
      object-position: 20% 15%;
    }
    @media (max-width: 767.67px) {
      object-position: 85% 5%;
    }
    @media (max-width: 479.98px) {
      object-position: 85% 0%;
    }
  }

  // .card-look__content

  &__content {
    padding: 10px 156px 10px 10px;
    position: relative;
    z-index: 2;
    max-width: 390px;
    @media (max-width: 1750px) {
      padding: 10px 25px 10px 10px;
    }
    @media (max-width: 479.98px) {
      padding: 10px 10px 10px 10px;
    }
  }

  // .card-look__title

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.29;
    text-transform: uppercase;
    @media (max-width: 767.67px) {
      line-height: 1.2;
      font-size: 30px;
    }
    @media (max-width: 479.98px) {
      font-size: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  // .card-look__text

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.68;
    letter-spacing: 0.01em;
    @media (max-width: 767.67px) {
      line-height: 1.2;
      font-size: 18px;
    }
    @media (max-width: 479.98px) {
      font-size: 14px;
    }
    &:not(:last-child) {
      margin-bottom: 51px;
      @media (max-width: 1360px) {
        margin-bottom: 20px;
      }
      @media (max-width: 1360px) {
        margin-bottom: 15px;
      }
    }
  }

  // .card-look__button

  &__button {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding: 18px 45px;
    transition: all 0.3s ease;
    @media (max-width: 767.67px) {
      padding: 9px 22px;
      font-size: 16px;
    }
    @media (max-width: 479.98px) {
      padding: 2px 5px;
      font-size: 14px;
    }
    @media (any-hover: hover) {
      &:hover {
        background: #000000;
        color: #f0f2f2;
      }
    }
  }
}
/*---------------Shop--------------------*/
.page {
  // .page__shop

  &__shop {
  }
}
.shop {
  padding: 15px 0 30px 0;
  @media (max-width: 767.98px) {
    padding: 15px 0 15px 0;
  }

  // .shop__container

  &__container {
  }

  // .shop__body

  &__body {
    display: grid;
    grid-template-columns: minmax(200px, 370px) minmax(730px, 1fr);
    gap: 30px;
    @media (max-width: 991.98px) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  // .shop__categories

  &__categories {
  }
}
.categories-shop {
  border-right: 1px solid #c4c4c4;
  @media (max-width: 991.98px) {
    border-right: none;
  }
  // .categories-shop__title

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.68;
    &:not(:last-child) {
      margin-bottom: 31px;

      @media (max-width: 991.98px) {
        margin-bottom: 20px;
        @media (max-width: 479.98px) {
          margin-bottom: 10px;
        }
      }
    }
  }

  // .categories-shop__form

  &__form {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;

    @media (max-width: 991.98px) {
      flex-direction: row;
    }
  }

  // .categories-shop__checkbox

  &__checkbox {
    position: relative;
  }

  // .categories-shop__input

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + .categories-shop__label::before {
      background: url("../img/Shop/01.svg") 50% no-repeat #000;
    }
  }

  // .categories-shop__label

  &__label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.68;
    text-transform: uppercase;
    color: #3f3f3f;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #fff;
      outline: 1px solid #828282;
    }
  }
}

.shop {
  // .shop__gallery

  &__gallery {
  }
}
.gallery-shop {
  display: flex;
  flex-direction: column;
  gap: 63px;
  @media (max-width: 1270px) {
    gap: 50px;
  }

  @media (max-width: 767.98px) {
    gap: 25px;
  }
  // .gallery-shop__body

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 48px;
    column-gap: 26px;
    @media (max-width: 1500px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1270px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 38px;
      column-gap: 20px;
    }
    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
      column-gap: 10px;
    }
  }

  // .gallery-shop__card

  &__card {
    display: flex;
    flex-direction: column;
  }

  // .gallery-shop__link-image

  &__link-image {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 130.813953%; /* 450/344 */
    &:not(:last-child) {
      margin-bottom: 14px;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.1);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.6s ease;
    }
  }
  &__discount {
    position: absolute;
    top: 15px;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5; /* 21/14 */
    color: #ffffff;
    background: #000000;
    padding: 5px;
  }

  // .gallery-shop__content

  &__content {
    &:not(:last-child) {
      margin-bottom: 18px;

      @media (max-width: 991.98px) {
        margin-bottom: 5px;
      }
    }
    flex: 1 0 auto;
  }

  // .gallery-shop__category

  &__category {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #bdbdbd;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  // .gallery-shop__text

  &__text {
    display: inline-block;
    line-height: 1.5;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: #ed1136;
      }
    }
  }

  .price-shop {
    display: flex;
    gap: 10px;
    align-items: baseline;
    // .price-shop__main

    &__main {
      font-weight: 500;
      font-size: 22px;
      line-height: 1.65;
      text-transform: uppercase;

      // .price-shop__main_red

      &_red {
        color: #eb5757;
      }
    }

    // .price-shop__discount

    &__discount {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      text-transform: uppercase;
      color: #828282;
      text-decoration: line-through;
    }
  }

  // .gallery-shop__button

  &__button {
    display: inline-block;
    align-self: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #828282;
    border: 2px solid #c4c4c4;
    padding: 15px 30px;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        background: #000000;
        color: #f0f2f2;
      }
    }
  }
}

/*---------------Shoping--------------------*/

.page {
  // .page__shoping

  &__shoping {
  }
}
.shoping {
  padding: 15px 0 38px 0;
  @media (max-width: 767.98px) {
    padding: 15px 0 19px 0;
  }

  // .shoping__container

  &__container {
  }

  // .shoping__body

  &__body {
    position: relative;
    padding: 77px 10px 78px 269px;
    @media (max-width: 1500px) {
      padding: 77px 10px 78px 50px;
    }
    @media (max-width: 767.98px) {
      padding: 30px 10px 30px 30px;
    }
    @media (max-width: 479.98px) {
      padding: 15px 10px 15px 15px;
    }
  }

  // .shoping__image

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: right;
      @media (max-width: 1270px) {
        opacity: 0.4;
      }
    }
  }

  // .shoping__content

  &__content {
  }
}
.content-shoping {
  position: relative;
  max-width: 640px;
  @media (max-width: 767.98px) {
    max-width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: -19px;
    right: 0;
    width: 94%;
    height: 2px;
    background-color: #000;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 2px;
    height: 35%;
    background-color: #000;
    position: absolute;
    top: -19px;
    right: 0;
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  // .content-shoping__title

  &__title {
    display: inline-block;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.29;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:not(:last-child) {
      margin-bottom: 17px;
      @media (max-width: 767.98px) {
        margin-bottom: 10px;
      }
    }
    @media (max-width: 767.98px) {
      font-size: 35px;
    }
    @media (max-width: 479.98px) {
      font-size: 21px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #ed1136;
      }
    }
  }

  // .content-shoping__text

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.48;
    letter-spacing: 0.01em;
    &:not(:last-child) {
      margin-bottom: 24px;
      @media (max-width: 767.98px) {
        margin-bottom: 15px;
      }
    }

    @media (max-width: 767.98px) {
      font-size: 18px;
      font-weight: 400;
    }
    @media (max-width: 479.98px) {
      font-size: 16px;
    }
  }

  // .content-shoping__button

  &__button {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5; /* 27/18 */
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding: 13px 46px;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        background: #000000;
        color: #f0f2f2;
      }
    }
    @media (max-width: 479.98px) {
      display: block;
    }
  }
}

/*---------------Catalog--------------------*/

.page {
  // .page__catalog

  &__catalog {
  }
}
.catalog {
  padding: 38px 0 60px 0;
  @media (max-width: 767.98px) {
    padding: 19px 0 30px 0;
  }

  // .catalog__container

  &__container {
  }

  // .catalog__item

  &__item {
  }
}
.item-catalog {
  &:not(:last-child) {
    margin-bottom: 79px;
    @media (max-width: 1270px) {
      margin-bottom: 40px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }
  // .item-catalog__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &:not(:last-child) {
      margin-bottom: 34px;
      @media (max-width: 991.98px) {
        margin-bottom: 20px;
      }
    }
  }

  // .item-catalog__title

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 2.83;
  }

  // .item-catalog__arrow

  &__arrow {
  }

  // .item-catalog__body

  &__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 31px;
    @media (max-width: 1500px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1270px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  // .item-catalog__card

  &__card {
  }
}
.arrow {
  display: flex;
  gap: 4px;
  // .arrow__left

  &__left {
    width: 40px;
    height: 40px;
    border: 2px solid #c4c4c4;
    background: url(../img/Catalog/01.svg) 50% no-repeat;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        background-color: #f7e0d5;
      }
    }
  }

  // .arrow__right

  &__right {
    width: 40px;
    height: 40px;
    border: 2px solid #c4c4c4;
    background: url(../img/Catalog/02.svg) 50% no-repeat;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        background-color: #f7e0d5;
      }
    }
  }
}
.card-catalog {
  display: flex;
  flex-direction: column;
  // .card-catalog__link-image

  &__link-image {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 127.478754%; /* 450/353 */
    &:not(:last-child) {
      margin-bottom: 14px;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.1);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.6s ease;
    }
  }

  // .card-catalog__info

  &__info {
    &:not(:last-child) {
      margin-bottom: 18px;

      @media (max-width: 991.98px) {
        margin-bottom: 5px;
      }
    }
    flex: 1 0 auto;
  }

  // .card-catalog__title

  &__category {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #bdbdbd;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  // .card-catalog__text

  &__text {
    display: inline-block;
    line-height: 1.5;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: #ed1136;
      }
    }
  }

  // .card-catalog__price

  &__price {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.65;
    text-transform: uppercase;
  }
}

/*---------------Explore--------------------*/

.page {
  // .page__explore

  &__explore {
  }
}
.explore {
  padding: 60px 0 82px 0;
  @media (max-width: 991.98px) {
    padding: 40px 0 62px 0;
  }
  @media (max-width: 767.98px) {
    padding: 20px 0 30px 0;
  }
  @media (max-width: 479.98px) {
    padding: 15px 0 15px 0;
  }

  // .explore__container

  &__container {
  }

  // .explore__body

  &__body {
    display: flex;

    @media (max-width: 1550px) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .explore__left-block

  &__left-block {
    flex: 0 1 56.443024%; /* 1060/1878 */
    @media (max-width: 1550px) {
      flex: 0 0 100%;
    }
  }

  // .explore__image

  &__image {
    position: relative;
    padding-bottom: 34.245283%; /* 363/1060 */
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .explore__content

  &__content {
  }
}
.content-explore {
  flex: 0 1 710px;
  padding: 21px 5px 0 96px;
  position: relative;

  @media (max-width: 1670px) {
    padding: 21px 5px 0 50px;
  }
  @media (max-width: 1550px) {
    flex: 0 0 100%;
    padding: 40px 0px 0 0px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 85%;
    height: 2px;
    background-color: #000;
    @media (max-width: 1550px) {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 2px;
    height: 25%;
    background-color: #000;
    position: absolute;
    top: 0px;
    right: 0;
    @media (max-width: 1550px) {
      display: none;
    }
  }

  // .content-explore__title

  &__title {
    display: inline-block;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.29;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:not(:last-child) {
      margin-bottom: 34px;
      @media (max-width: 767.98px) {
        margin-bottom: 15px;
      }
    }
    @media (max-width: 767.98px) {
      font-size: 35px;
    }
    @media (max-width: 479.98px) {
      font-size: 21px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #ed1136;
      }
    }
  }

  // .content-explore__text

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.48;
    letter-spacing: 0.01em;
    &:not(:last-child) {
      margin-bottom: 24px;
      @media (max-width: 767.98px) {
        margin-bottom: 15px;
      }
    }

    @media (max-width: 767.98px) {
      font-size: 18px;
      font-weight: 400;
    }
    @media (max-width: 479.98px) {
      font-size: 16px;
    }
  }

  // .content-explore__button

  &__button {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5; /* 27/18 */
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding: 13px 46px;
    transition: all 0.3s ease;
    @media (max-width: 479.98px) {
      display: block;
    }
    @media (any-hover: hover) {
      &:hover {
        background: #000000;
        color: #f0f2f2;
      }
    }
  }
}

/*---------------Blog--------------------*/

.page {
  // .page__blog

  &__blog {
  }
}
.blog {
  background: #f8f9fb;
  padding: 46px 0;
  @media (max-width: 767.98px) {
    padding: 25px 0;
  }

  // .blog__container

  &__container {
  }

  // .blog__title

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 767.98px) {
        margin-bottom: 15px;
      }
    }
  }

  // .blog__body

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (max-width: 1550px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  // .blog__card

  &__card {
  }
}
.card-blog {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 24px 24px 10px 24px;
  @media (max-width: 767.98px) {
    padding: 10px;
  }

  // .card-blog__article

  &__article {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #bdbdbd;
    &:not(:last-child) {
      margin-bottom: 21px;
      @media (max-width: 767.98px) {
        margin-bottom: 10px;
      }
    }
  }

  // .card-blog__info

  &__info {
    flex: 1 0 auto;
    &:not(:last-child) {
      margin-bottom: 60px;
      @media (max-width: 991.98px) {
        margin-bottom: 40px;
      }
      @media (max-width: 767.98px) {
        margin-bottom: 20px;
      }
    }
  }

  // .card-blog__title

  &__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 32px;
      @media (max-width: 767.98px) {
        margin-bottom: 15px;
      }
    }
  }

  // .card-blog__text

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }

  // .card-blog__date

  &__date {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
    color: #4f4f4f;
    padding-top: 5px;
    border-top: 3px solid #000000;
  }
}

/*---------------Footer--------------------*/
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  // .footer__container
  @media (max-width: 479.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__container {
  }

  // .footer__copyright

  &__copyright {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #333;
  }
}
